@use 'reset-styles' as *;
@use 'variables' as *;

html {
  min-width: 320px;
}

body {
  background: var(--color-page-bg);
  color: var(--color-text);
  font-family: var(--font-sans), serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
