@mixin flex-center($gap: null) {
  display: flex;
  justify-content: center;
  align-items: center;

  @if $gap != null {
    gap: $gap;
  }
}

@mixin hover-media-query {
  @media (hover: hover) {
    &:hover {
      @content
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}